<nz-tabset *ngIf="Type == '0' || Type == '1'">
  <nz-tab nzTitle="Teacher">
    <app-teacher></app-teacher>
  </nz-tab>
  <nz-tab nzTitle="Student">
    <app-student></app-student>
  </nz-tab>
  <nz-tab nzTitle="Assignment">
    <app-assignments></app-assignments>
  </nz-tab>
</nz-tabset>
<div *ngIf="Type === '2'">
  <nz-result
    nzStatus="403"
    nzTitle="Sorry, you are not authorized to access this page."
  >
  </nz-result>
</div>
<div *ngIf="Type === '-1'">
  <nz-result nzStatus="error">
    <div nz-result-title>
      You are not logged in. Please
      <a routerLink="/login" class="login-link">Login</a>.
    </div>
  </nz-result>
</div>
